@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-font-sans: var(--font-geist-sans);
  --color-font-mono: var(--font-geist-mono);
  --color-lavender-100: #E6E6FA;
  --color-lavender-200: #D8BFD8;
  --color-lavender-300: #C3B1E1;
  --color-lavender-500: #967BB6;
  --color-lavender-600: #8A66D6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

select option {
  background-color: white;
  color: #171717;
}